/* colors */

@green: #94d600;
@blue: #2687fa;
@grey: #777;


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-top: 60px;
  @media(min-width: 768px) {
    padding-top: 80px;
  }
}

header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  @media(min-width: 768px) {
    font-size: 36px;
  }
}

h2 {
  margin: 1.2em 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  @media(min-width: 768px) {
    font-size: 30px;
  }
}

h3 {
  font-weight: 300;
  font-size: 20px;
  @media(min-width: 768px) {
    font-size: 24px;
  }
}

.navbar>.container {
  .navbar-brand {
    margin-left: 0;
  }
  @media(min-width: 768px) {
    padding: 0;
  }
}


.navbar-nav {
  li {

    @media(min-width: 768px) {
      padding: 30px 6px 20px;
    }
  }
  @media(min-width: 768px) {
    float: right;
  }
}


.nav>li>a {
  color: @blue;
  font-size: 16px;
  @media(min-width: 768px) {
    padding: 5px 12px;
  }
}

.nav>li>a:focus,
.nav>li>a:hover {
  @media(min-width: 768px) {
    background: none;
  }
}

.nav>li.active>a {
  @media(min-width: 768px) {
    background: @green;
    color: #fff;
  }
}

.navbar-toggle {
  .icon-bar {
    background: @blue;
    width: 30px;
    height: 3px;
  }
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

.navbar {
  margin: 0
}

.container {
  max-width: 960px;
}

.navbar-brand {
  padding: 5px 15px 10px;
  height: auto;
  width: 200px;
  @media(min-width: 992px) {
    width: 308px;

  }
}

.navbar-collapse {
  @media(min-width: 768px) {
    padding: 0;
  }
}

.btn {
  border-radius: 25px;
  outline: none !important;

  &-green {
    background: @green;
    color: #fff !important;
    font-weight: 900;
    transition: background .2s;
    &:hover {
      background: lighten(@green, 5%);
    }
  }
}

.header-btn {
  display: block;
  font-size: 16px;
  height: 45px;
  width: 170px;
  margin: 5px auto;
  @media(min-width: 768px) {
    float: right;
    margin: 20px 0 0 20px;
  }
  @media(min-width: 992px) {
    margin-left: 60px;
  }
}

.section-btn {
  display: block;
  margin: -17px auto 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 35px;

  @media(min-width: 769px) {
    display: block;
    border-radius: 30px;
    margin: -30px auto 0;
    font-size: 24px;
    width: 230px;
    height: 60px;
  }
}

.home {
  background: url(images/big-pic.jpg) no-repeat center;
  background-size: cover;
  // height: 500px;
  color: #fff;

  &__block {
    margin: 7.5em 0 9.5em;
  }

  &__h1 {
    margin: 1.1em 0;
    &:before {
      background: url(images/eye-white.png) no-repeat;
      background-size: contain;
      display: inline-block;
      width: 22px;
      height: 19px;
      margin-right: 10px;
      content: '';
      @media(min-width: 768px) {
        width: 28px;
        height: 24px;
      }
    }
  }

  &__text {
    max-width: 80%;
    @media(min-width: 768px) {
      font-size: 18px;
    }
  }
}

.about {
  background: #fff;
  &__col {
    padding: 0;
    text-align: center;
    margin: 15px 0;
    @media(min-width: 768px) {
      margin: 30px 0;
    }
  }

  &__desc {
    color: #595959;
    display: block;
    margin-top: 15px;
  }

  &__round {
    border: 1px solid @blue;
    border-radius: 50%;
    width: 114px;
    line-height: 114px;
    height: 114px;
    margin: auto;
    overflow: hidden;
  }
}


.prices {
  overflow: hidden;
  padding-bottom: 35px;
  background: url(images/prices.jpg) no-repeat;
  background-size: cover;
  position: relative;
  @media(min-width: 1200px) {
    background: none;
  }

  .container {
    max-width: 720px;
  }

  &-img-parallax {
    display: none;
    min-height: 800px;
    min-width: 100%;
    position: absolute;
    bottom:0;
    left:0;
    @media(min-width: 1200px) {
      display: block;
    }
  }

  &-card {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 200px;
    height: 282px;
    margin: 20px auto 15px;
    text-align: center;
    overflow: hidden;
    @media(min-width: 768px) {
      margin: 20px auto 35px;
    }
    &__header {
      background: #fff;
      color: @blue;
      font-size: 30px;
      font-weight: 700;
    }

    &__cost {
      color: #fff;
      h3 {
        font-size: 30px;
        font-weight: 300;
        b {
          font-weight: 600;
        }

      }
      h4 {
        font-size: 24px;
        font-weight: 400;
        margin-top: -5px;
      }
      small {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
      }
    }

    &__round {
      background: #fff;
      border-radius: 50%;
      width: 114px;
      height: 114px;
      line-height: 114px;
      margin: 20px auto 10px;
    }
  }

  &__h2 {
    color: #fff;
    position: relative;
    z-index: 1;
  }

  &__tab-pill {
    border: 1px solid #fff;
    border-radius: 25px;
    list-style: none;
    padding-left: 0;
    height: 40px;
    width: 260px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media(min-width: 768px) {
      width: 327px;
    }
  }

  &__tab-pill-item {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
    height: 100%;
    &.active {
      background: #fff;
      a {
        color: @blue;
      }

    }

    a {
      display: block;
      font-weight: 300;
      height: 100%;
      color: #fff;
      line-height: 36px;
      text-decoration: none !important;
      @media(min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  &__tab-title {
    position: relative;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 15px 0 15px;
    @media(min-width: 768px) {
      font-size: 20px;
    }

    ul {
      display: inline-block;
      list-style: none;
      padding-left: 5px;

      li {
        display: inline-block;
        padding: 0 10px;

        &.active {
          a {
            border-bottom: 2px solid #fff;
          }

        }

        a {
          color: #fff;
          text-decoration: none !important;
          padding: 5px 0px;
        }
      }
    }
  }
}


.cams {
  background: #fff;
  padding-top: 18px;
  padding-bottom: 26px;
  @media(min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 35px;
  }



  &-block {
    background: linear-gradient( to top, #2687fa, #2768b5);
    letter-spacing: -0.5px;
    line-height: 1.3;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
    position: relative;
    color: #fff;
    height: 460px;
    @media(min-width: 768px) {
      height: 430px;
    }

    &__desc {
      padding: 0 20px;
      text-align: center;
      font-size: 13px;
      @media(min-width:768px){
        font-size: 14px;
      }
    }

    &__img {
      height: 100%;
    }
    &__img-wrap {
      height: 220px;
      text-align: center;
      overflow: hidden;
    }

    &__text {
      display: none;
      padding: 10px 20px;
      p {
        margin: 0;
        font-size: 13px;
        @media(min-width:768px){
          font-size: 14px;
        }
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 700;
      margin: 25px 0 10px;
      text-align: center;
    }
    &__wrap.more {
      .cams-block__img-wrap {
        display: none;
      }
      .cams-block__text {
        display: block;
      }
    }
  }
  &__btn-more {
    background: transparent;
    border: 1px solid #fff;
    color: #fff !important;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 181px;
    margin: auto;
    &:hover {
      background: #fff;
      color: @blue !important;
    }

  }
}

.demo {
  background: linear-gradient( to top, #030303, #030303);
  &__h2 {
    color: #fff;
    @media(min-width: 768px) {
      padding-top: 50px;
    }
  }
  &__frame {
    background: #000;
    border: 5px solid @green;
    width: 260px;
    height: 155px;
    margin: auto;
    @media(min-width: 480px) {
      width: 300px;
      height: 170px;
    }
    @media(min-width: 768px) {
      border: 10px solid @green;
      width: 580px;
      height: 335px;
    }
  }
}

.footer {
  background: #000;
  font-size: 12px;
  padding: 20px 0;
  &__copy {
    color: #747474;
    @media(min-width: 768px) {
      float: left;
    }
  }
  &__help {
    color: #fff;
    a {
      color: #185fb4;
    }
    @media(min-width: 768px) {
      float: right;
    }
  }
}

.close {
  color: #333;
  font-size: 34px;
  font-weight: 300;
  opacity: 1 !important;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 2;
  outline: none;
}

.modal-body {
  input[type="tel"],
  input[type="text"] {
    background: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: inset 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    padding: 0 45px;
    height: 60px;
    width: 100%;
    outline: none;
    margin: 0 auto 25px;

  }

  input[type="submit"] {
    border-radius: 30px;
    display: block;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    @media(min-width: 768px) {
      width: 260px;
    }
  }

}

.modal-logo {
  display: none;
  @media(min-width: 768px) {
    display: block;
  }
}

.modal-h3 {
  color:#1d1d1d;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 18px 0 20px;
}

.modal-popup-1 {
  @media(min-width: 768px) {
    width: 540px;
  }
  .modal-body {
    @media(min-width: 768px) {
      padding: 30px 80px;
    }
  }
}

.modal-popup-2 {
  .modal-h3 {
    @media(min-width: 768px) {
      text-align: left;
      margin: 10px 0 35px;
    }

  }

  @media(min-width: 992px) {
    width: 820px;
  }
  input[type="tel"],
  input[type="text"] {
    @media(min-width: 992px) {
      display: inline-block;
      width: 380px;
    }
  }
  input[type="submit"] {
    @media(min-width: 992px) {
      margin: 0 15px;
      display: inline-block;
    }
  }

  .modal-body {
    @media(min-width: 768px) {
      padding: 30px 50px 30px 80px;
    }
  }
}

.error-form, .success-form, .send-processing{
  color: #790000;
  display: none;
  margin-top: -20px;
  font-size: 14px;
}

.active-err, .active-success, .active-send-processing {
  display: block;
}

.success-form, .send-processing {
  color: rgb(5, 134, 0);
}

.demo-container {
  padding: 0;
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

